<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block head_title %}Images Navigator{% endblock head_title %}</title>
{% include "include/base-css.html" %}
<style>
{% block style %}{% endblock style%}
</style>

{% block head_extra %} {% endblock head_extra %}
</head>
{% block content %}
{% endblock content%}


{% include "include/base-js.html" %}
{% block js %}
{% endblock js %}

</html>




